.tab{
    padding-left: 6%;
    padding-right: 6%;
}
.box{
    min-height: 400px;
    margin-bottom: 10px;
    margin-top: 20px;
    border: none;;
    border-radius: 2%;
    width:18vw;
    box-shadow: 1px 2px 0px 0px rgba(53, 53, 53, 0.13);
    transition:1s;
}
.shadow:hover
{
    box-shadow: 0px 18px 37px 6px rgba(71,71,71,0.13);
    -webkit-box-shadow: 0px 18px 37px 6px rgba(71,71,71,0.13);
    -moz-box-shadow: 0px 18px 37px 6px rgba(71,71,71,0.13);
    transition:1s;
    transform: scale(1.01);
}